<!DOCTYPE html>
{% extends 'base.html'%}
{% block block_body %}
<div class="jumbotron">
  <h1>Update Student Record.</h1><hr>
  <form method="post">
    {% csrf_token %}
    Student Name: <input type="text" name="name" value="{{ student.name }}"><br><br>
    Student Class : <input type="text" name="class_name" value="{{ student.class_name }}" required><br><br>
    Student School: <input type="text" name="school_name" value="{{ student.school_name }}" required><br><br>
    Student Mobile Number: <input type="text" name="mobile_number" value="{{ student.mobile_number }} " required><br><br>
    Student Address: <input type="text" name="address" value="{{ student.address }}" required size="100"><br><br>
    Maths: <input type="number" name="maths" value="{{ student.maths }}" required><br><br>
    Physics: <input type="number" name="physics" value="{{ student.physics }}" required><br><br>
    Chemistry: <input type="number" name="chemistry" value="{{ student.chemistry }}" required><br><br>
    Biology: <input type="number" name="biology" value="{{ student.biology }}" required><br><br>
    English: <input type="number" name="english" value="{{ student.english }}" required><br><br>
    <input type="submit" class="btn btn-primary btn-lg" value="Update Record">
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='{% url 'student_list' %}'">Cancel</button>

  </form>
</div>
{% endblock %}
