<!DOCTYPE html>
{% extends 'base.html'%}
{% block block_body %}
<body>
    <div class="jumbotron" align="center">
    	{% if student_mark%}
        <h2>{{student_name}}'S  Academic Mark </h2><hr>

        <table>
            <thead>
            <th>  MATH  </th>
            <th>  PHYSICS  </th>
            <th>  CHEMISTRY  </th>
            <th>  BIOLOGY  </th>
            <th>  ENGLISH  </th>
            </thead>
            {% for p in student_mark%}
            <tr>
                <td>{{ p.maths }}</td>
                <td>{{ p.physics }}</td>
                <td>{{ p.chemistry }}</td>
                <td>{{ p.biology }}</td>
                <td>{{ p.english }}</td>
               </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        	<h2>No mark present for the student </h2><hr>
        {% endif %}
        <br>
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='{% url 'student_list' %}'">Back To List</button>
    </div>

</body>
</html>
{% endblock %}
